[user]
	name = Francisco Aceves
	email = fa8558@exo.att.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	undo = reset --soft HEAD^
[core]
	pager = delta
	editor = code --wait
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[delta]
	line-numbers = true
