[user]
	email = frenagon@gmail.com
	name = Francisco Aceves
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	undo = reset --soft HEAD^
[core]
	pager = delta
[delta]
	line-numbers = true